[%-	meta.title = 'Form Handlers' -%]

<table class="list">
	<tr>
		<th class="main">
			Form Handler
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH form IN forms %]
	<tr class="showfocus">
		<td>
			[% form.name | html %]
		</td>
		<td>
			<a class="action" href="[% c.uri_for( 'edit', form.id ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>
