[%-	meta.no_wrapper = 1;
%]

<html>
<body>

<div style="width: 95%; margin: 0 auto; color: #ffffff; background: #000000; padding: 10px;">
<h1>
	[% newsletter.title | html %]
</h1>
<p>
	[% elements.body %]
</p>
</div>

</body>
</html>

