<!DOCTYPE html>

<html>

<head>
	[%- INCLUDE 'html5boilerplate/ie-conditional-comments-block-downloads.tt' -%]
	[%#- INCLUDE 'html5boilerplate/ie-force-latest-rendering-engine.tt'        -%]
	<meta charset="UTF-8">
	
	<title>[% meta.title or 'ShinyCMS' | html %] - [% meta.sitename or 'ShinyCMS' | html %]</title>
	
	<meta name="description" content="[% head.meta_description | html %]">
	<meta name="keywords"    content="[% head.meta_keywords    | html %]">
	<meta name="author"      content="[% head.meta_author      | html %]">
	
	[%- INCLUDE 'html5boilerplate/mobile-viewport-fix.tt' -%]
	
	<link rel="stylesheet" type="text/css" href="[% c.uri_for( '/static/css/shinycms.css' ) %]">
	<link rel="stylesheet" type="text/css" href="[% c.uri_for( '/static/jquery/css/cupertino/jquery-ui-1.8.4.custom.css' ) %]">
	
	[%-	#	All JavaScript at the bottom, except for Modernizr 
		#	which enables HTML5 elements & feature detects, and 
		#	jQuery which doesn't seem to work if it's not up here.
	%]
	<script type="text/javascript" src="[% c.uri_for( '/static/html5boilerplate/js/modernizr-1.5.min.js' ) %]"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<!--[if lt IE 7 ]><body class="ie6"><![endif]-->
<!--[if IE 7    ]><body class="ie7"><![endif]-->
<!--[if IE 8    ]><body class="ie8"><![endif]-->
<!--[if IE 9    ]><body class="ie9"><![endif]-->
<!--[if (gt IE 9|!(IE)) ]><!--><body><!--<![endif]-->

	<div id="menubarWrapper">
		<div id="menubarBg">
			<div id="menubar">
				[% INCLUDE 'admin/menus.tt' -%]
			</div>
		</div>
	</div>
	
	<div id="headerWrapper">
		<div id="headerBg">
			<div id="header">
				<h1 id="shinyCMSlogo">
					ShinyCMS
				</h1>
			</div>
		</div>
	</div>
	
	<div id="bevelWrapper">
		<div id="bevelBg">
			<div id="bevel">
			</div>
		</div>
	</div>
	
	<div id="contentWrapper">
		<div id="content">
			[%# Status and error messages %]
			[%- IF status_msg %]
			<span class="status">[% status_msg %]</span>
			[%- END %]
			[%- IF error_msg %]
			<span class="error">[% error_msg %]</span>
			[%- END %]
			[%# This is where TT will stick all of your action's template output. -%]
			[% content %]
		</div>
	</div>
	
	<div id="footerWrapper">
		<div id="footerBg">
			<div id="footer">
				<a href="http://shinycms.org/">ShinyCMS</a> is copyright &copy; 2009-2014 
				<a href="http://shinyideas.co.uk/">Shiny Ideas</a>, and is 
				<a href="http://www.opensource.org/">open source</a> software, licensed under the 
				<a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU AGPL</a>
			</div>
		</div>
	</div>
	
	[%-# Javascript at the bottom for faster page loading times %]
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="[% c.uri_for( '/static/ckeditor/ckeditor.js' ) %]"></script>
	
	[%- INCLUDE 'html5boilerplate/ie6-png-fix.tt' -%]

</body>
</html>

