<!DOCTYPE html>

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.12
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="en">
  [% INCLUDE 'admin/includes/head.tt' %]

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    [% INCLUDE 'admin/includes/header.tt' %]
    <div class="app-body">

      <div class="sidebar">
        [% INCLUDE 'admin/includes/menus.tt' %]
        <span class="sidebar-footer">
          Powered by <a href="https://shinycms.org/">ShinyCMS</a>
        </span>
      </div>

      <main class="main">
        <div class="container-fluid" id="content">
          [% IF status_msg %]<span class="status">[% status_msg %]</span>[% END %]
          [% IF error_msg  %]<span class="error" >[% error_msg  %]</span>[% END %]

          [% content %]
        </div>
      </main>

    </div>
    [% INCLUDE 'admin/includes/footer.tt' %]
    [% INCLUDE 'admin/includes/footer-javascript.tt' %]
  </body>
</html>
