				<div class="container">
					<header id="header">
						<div class="inner">
							<h1>
								<a href="[% c.uri_for( '/' ) %]" id="logo">[% c.config.site_name OR 'ShinySite' %]</a>
							</h1>

							[% INCLUDE 'includes/menu.tt' %]

							[% INCLUDE 'includes/header-search.tt' %]
						</div>
					</header>
				</div>
