<ul>
[% FOREACH post IN news_posts -%]
	<li><a href="/news/[% post.posted.year %]/[% post.posted.month %]/[% post.url_title %]">[% post.title %]</a> ([% post.posted.date %]) [ <a href="[% c.uri_for( 'edit', post.id ) %]">edit</a> ]</li>
[% END -%]
</ul>

