[%-	meta.title = 'Mailing lists' -%]

<table class="list">
	<tr>
		<th class="main">
			Mailing List
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH list IN mailing_lists %]
	<tr class="showfocus">
		<td>
			[% list.name | html %]
		</td>
		<td>
			<a class="action" href="[% c.uri_for( 'list', list.id, 'edit' ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>
