[%-	meta.title = 'Autoresponders' -%]

<table class="list">
	<tr>
		<th class="main">
			Autoresponder
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH ar IN autoresponders %]
	<tr class="showfocus">
		<td>
			[% ar.name | html %]</a>
		</td>
		<td>
			<a class="action" href="[% c.uri_for( 'autoresponder', ar.id, 'edit' ) %]">Edit</a>
			<a class="action" href="[% c.uri_for( 'autoresponder', ar.id, 'subscribers' ) %]">View subscribers</a>
		</td>
	</tr>
	[%- END %]
</table>
