[%-	meta.title   = 'Mailing lists';
-%]
<table class="list">
	<tr>
		<th class="main">
			Mailing List
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH list IN mailing_lists %]
	<tr onmouseover="style.backgroundColor='#eeffdd';" onmouseout="style.backgroundColor='transparent'">
		<td>
			[% list.name | html %] 
		</td>
		<td>
			<a href="[% c.uri_for( 'lists', list.id, 'edit' ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>

