[%-	meta.wrapper = 'shinycms.tt';
	meta.title   = 'Mailing lists';
%]

<h3>
	[% meta.title %]
</h3>

<ul>
	[%- FOREACH list IN mailing_lists %]
	<li>
		[% list.name | html %] 
		[%- IF c.user.has_role( 'Newsletter Admin' ) %]
		[ <a href="[% c.uri_for( 'lists', list.id, 'edit' ) %]">edit</a> ]
		[%- END %]
	</li>
	[%- END %]
</ul>

