						[%- IF c.user.has_role( 'File Admin' ) %]
						<li class="topmenu" onclick="javascript:window.location.assign('[% c.uri_for( '/filemanager', 'view' ) %]');"><a href="[% c.uri_for( '/filemanager', 'view' ) %]" title="Browse files">Files</a>
							<ul class="submenu">
								<li><a href="[% c.uri_for( '/filemanager', 'view' ) %]" title="Browse files">Browse</a></li>
								<li><a href="[% c.uri_for( '/filemanager', 'upload-file' ) %]" title="Upload files">Upload</a></li>
							</ul>
						</li>
						[%- END -%]

