						[%- IF c.user.has_role( 'User Admin' ) %]
						<li class="topmenu" onclick="javascript:window.location.assign('[% c.uri_for( '/user', 'list' ) %]');"><a href="[% c.uri_for( '/user', 'list' ) %]" title="List all users">Users</a>
							<ul class="submenu">
								<li><a href="[% c.uri_for( '/user', 'list' ) %]" title="List all users">List users</a></li>
								<li><a href="[% c.uri_for( '/user', 'add' ) %]" title="Add a user">Add user</a></li>
							</ul>
						</li>
						[%- END -%]

