[%-	#	Mobile Viewport Fix: j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	#	device-width : Occupy full width of the screen in its current orientation
	#	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	#	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
%]
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
