[%-	meta.title = 'All Pages';
%]

<h3>
	All CMS Pages
</h3>

<ul>
	[%- FOREACH section IN sections %]
	<li>
		[% section.name | html %]
		<ul>
			[%- FOREACH page IN section.pages %]
			<li>
				<a href="[% section.url_name | url %]/[% page.url_name | url %]">[% page.name | html %]</a> 
				[%- IF c.user.has_role('CMS Page Editor') -%]
				[ <a href="[% section.url_name | url %]/[% page.url_name | url %]/edit">edit</a> ]
				[%- END %]
			</li>
			[%- END %]
		</ul>
	</li>
	[%- END %]
</ul>

