[%-	meta.title = 'All Pages';
%]

<h3>
	All CMS Pages
</h3>

<ul>
	[%- FOREACH section IN sections %]
	<li>
		[% section.name | html %]
		<ul>
			[%- FOREACH page IN section.pages %]
			<li>
				<a href="[% c.uri_for( section.url_name, page.url_name ) %]">[% page.name | html %]</a> 
				[%- IF c.user.has_role( 'CMS Page Editor' ) -%]
				[ <a href="[% c.uri_for( section.url_name, page.url_name, 'edit' ) %]">edit</a> ]
				[%- END %]
			</li>
			[%- END %]
		</ul>
	</li>
	[%- END %]
</ul>

