<ul>
[%- FOREACH user IN users %]
	<li><a href="[% c.uri_for( user.username ) %]">[% user.firstname | html %] [% user.surname | html %]</a> [ <a href="[% c.uri_for( 'edit', user.id ) %]">edit</a> ]</li>
[%- END %]
</ul>

