[%- meta.wrapper = 'shinycms.tt';
	meta.title   = 'All users';
%]

<ul>
[%- FOREACH user IN users %]
	<li><a href="[% c.uri_for( user.username ) %]">[% user.username | html %]</a> ([% user.firstname | html %] [% user.surname | html %]) [ <a href="[% c.uri_for( 'edit', user.id ) %]">edit</a> ]</li>
[%- END %]
</ul>

