<hr />
<ul>
	[% FOREACH section IN menu_items -%]
	<li>
		[% section.name %]
		<ul>
			[% FOREACH page IN section.pages -%]
			<li>
				<a href="[% page.link %]">[% page.name %]</a>
			</li>
			[% END -%]
		</ul>
	</li>
	[% END -%]
	<li>
		<a href="/cms/sitemap">Sitemap</a>
	</li>
	<li>
		<a href="/cms/search">Search</a>
	</li>
</ul>
<hr />

