[%	meta.title = 'All Pages';
%]

<h3>
	All CMS Pages
</h3>

<ul>
	[% FOREACH section IN sections -%]
	<li>
		[% section.name %]
		<ul>
			[% FOREACH page IN section.cms_pages -%]
			<li>
				<a href="/cms/[% section.url_name %]/[% page.url_name %]">[% page.name %]</a> 
				[% IF c.user.has_role('CMS Page Editor') -%]
				[ <a href="/cms/[% section.url_name %]/[% page.url_name %]/edit">edit</a> ]
				[% END -%]
			</li>
			[% END -%]
		</ul>
	</li>
	[% END -%]
</ul>

