[%	meta.title          = 'All CMS Pages';
%]

<h3>
	All CMS Pages
</h3>

[% FOREACH page IN pages %]
<p>
	<a href="[% c.uri_for( ( page.url_name || page.id ) ) %]">[% page.name %]</a> 
	[% IF c.user.has_role('CMS Page Editor') %]
	[ <a href="[% c.uri_for( ( page.url_name || page.id ) _ '/edit' ) %]">edit</a> ]
	[% END %]
</p>
[% END %]

