[%-	meta.title = 'List All Items';
%]

<h3>
	[% meta.title | html %]
</h3>

[%- FOREACH item IN items %]
<p>
	<a href="[% c.uri_for( 'item', ( item.code || item.id ) ) %]">[% item.name | html %]</a> 
	[%- IF c.user.has_role('Shop Admin') %]
	[ <a href="[% c.uri_for( 'item', ( item.code || item.id ), 'edit' ) %]">edit</a> ]
	[%- END %]
</p>
[%- END %]

