[%	meta.title          = 'Categories';
%]

<h3>
	[% meta.title %]
</h3>

[% FOREACH category IN categories %]
<p>
	<big><a href="[% c.uri_for( 'category/' _ category.url_name ) %]">[% category.name %]</a></big>
	- [% category.description %] 
	[% IF c.user.has_role('Shop Admin') %]
	[ <a href="[% c.uri_for( 'category/' _ category.url_name _ '/edit' ) %]">edit</a> ]
	[% END %]
</p>
[% END %]

