[%-	meta.wrapper = 'shinycms.tt';
	meta.title   = 'Shop Items';
-%]
<table>
	<tr>
		<th class="main">
			Item
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH item IN items %]
	<tr>
		<td>
			[% item.name | html %]
		</td>
		<td>
			<a href="[% c.uri_for( 'item', ( item.code || item.id ) ) %]">View</a> / 
			<a href="[% c.uri_for( 'item', ( item.code || item.id ), 'edit' ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>

