[%	meta.custom_wrapper = 'shop/wrapper.tt';
	meta.title          = category.name;
%]

<h3>
	View Category: [% category.name %]
</h3>

[% FOREACH item IN category.items %]
<p>
	<a href="[% c.uri_for( 'item/' _ item.code ) %]"><img src="[% c.uri_for( 'images/thumbnails/' _ item.image ) %]" alt="Image of [% item.name %]" title="Click to enlarge" /></a>
</p>
<p>
	<a href="[% c.uri_for( 'item/' _ item.code ) %]">[% item.name %]</a>
</p>
<p>
	[% item.paypal_button %]
</p>
[% END %]

