[%-	meta.wrapper = 'shop/wrapper.tt';
	meta.title   = category.name;
%]

<h3>
	[% category.name | html %]
</h3>

[%- FOREACH item IN shop_items %]
<p>
	<a href="[% c.uri_for( 'item', item.code ) %]"><img src="[% c.uri_for( '/static', upload_dir, 'shop-images', 'thumbnails', item.image ) %]" alt="Image of [% item.name | html %]" title="Click to enlarge" /></a>
</p>
<p>
	<a href="[% c.uri_for( 'item', item.code ) %]">[% item.name | html %]</a>
</p>
<p>
	[% item.paypal_button %]
</p>
[%- END %]

