[% META title = 'Demo Site' %]

<p>
	Welcome to the Reactant CMS demo site.
</p>
<p>
	Currently available features:
</p>
<p>
	<a href="[% c.uri_for('/blog') %]">Blogs</a>
</p>
<p>
	<a href="[% c.uri_for('/user') %]">Users</a>
</p>

