[% META title = 'Demo Site' %]

<p>
	Welcome to the ShinyCMS demo site.
</p>
<p>
	Currently available features:
</p>
<p>
	<a href="[% c.uri_for('/page') %]">CMS Pages</a>
</p>
<p>
	<a href="[% c.uri_for('/shop') %]">Online Shop</a>
</p>
<p>
	<a href="[% c.uri_for('/blog') %]">User Blogs</a>
</p>
<p>
	<a href="[% c.uri_for('/user') %]">User Profiles</a>
</p>

