[%-	meta.wrapper       = 'site-wrapper.tt';
	meta.title         = 'Sitemap';
	meta.menu_selected = 'Sitemap';
%]

<ul>
	[%- FOREACH section IN sections %]
	<li>
		[% section.name | html %]
		[%- IF section.pages %]
		<ul>
			[%- FOREACH cms_page IN section.pages %]
			<li>
				<a href="[% c.uri_for( 'pages', section.url_name, cms_page.url_name ) %]">[% cms_page.name | html %]</a>
			</li>
			[%- END %]
		</ul>
		[%- END %]
	</li>
	[%- END %]
</ul>

