<!DOCTYPE html>

<html>
	[% INCLUDE 'includes/head.tt' %]

	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				[% INCLUDE 'includes/header.tt' %]
			</div>

			<div id="main-wrapper">
				[%- IF error_msg  %]<div class="error" >[% error_msg  %]</div>[% END %]
				[%- IF status_msg %]<div class="status">[% status_msg %]</div>[% END %]

				[%- # TODO: make homepage detection more robust/generic
				  IF c.request.uri == c.uri_for('/')
				  OR c.request.uri == c.uri_for('/pages')
				  OR c.request.uri == c.uri_for('/pages/home')
				  OR c.request.uri == c.uri_for('/pages/home/home')
				-%]

				[% content %]

				[%- ELSE %]
				<div class="wrapper style2">
					<div class="inner">
						<div class="container">
							<div id="content">
								[% content %]
							</div>
						</div>
					</div>
				</div>
				[%- END %]
			</div>
		</div>

		[% INCLUDE 'includes/footer.tt'    %]
		[% INCLUDE 'admin/site-toolbar.tt' %]
	</body>
</html>
