<!DOCTYPE html>

<html>
	[% INCLUDE 'includes/head.tt' %]

	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<header id="header">
						<div class="inner">
							<h1>
								<a href="[% c.uri_for( '/' ) %]" id="logo">[% c.config.site_name OR 'ShinySite' %]</a>
							</h1>

							[% INCLUDE 'includes/menu.tt' %]

							[% INCLUDE 'includes/header-search.tt' %]
						</div>
					</div>
				</div>
			</div>

			<div id="main-wrapper">
				[%- IF error_msg  %]<div class="error" >[% error_msg  %]</div>[% END %]
				[%- IF status_msg %]<div class="status">[% status_msg %]</div>[% END %]
				
				[%- content %]
			</div>
		</div>

		[% INCLUDE 'includes/footer.tt'    %]
		[% INCLUDE 'admin/site-toolbar.tt' %]
	</body>
</html>
