[%-	meta.wrapper = 'shinycms.tt';
	meta.title   = 'All blog posts';
%]
<ul>
[%- FOREACH item IN blog_posts %]
	<li><a href="[% c.uri_for( item.posted.year, item.posted.month, item.url_title ) %]">[% item.title | html %]</a> ([% item.posted.day %] [% item.posted.month_abbr %] [% item.posted.year %]) [ <a href="[% c.uri_for( 'edit', item.id ) %]">edit</a> ]</li>
[%- END %]
</ul>

