<ul>
[%- FOREACH item IN blog_posts %]
	<li><a href="/blog/[% item.posted.year %]/[% item.posted.month %]/[% item.url_title %]">[% item.title %]</a> ([% item.posted.day %] [% item.posted.month_abbr %] [% item.posted.year %]) [ <a href="[% c.uri_for( 'edit', item.id ) %]">edit</a> ]</li>
[%- END %]
</ul>

