[%-	meta.title = 'Roles' -%]

<table class="list">
	<tr>
		<th class="main">
			Role
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH role IN roles %]
	<tr class="showfocus">
		<td>
			[% role.role | html %]
		</td>
		<td>
			<a class="action" href="[% c.uri_for( '/admin/users/role', role.id, 'edit' ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>
