[%-	meta.title = 'Access Groups' -%]

<table class="list">
	<tr>
		<th class="main">
			Access Group
		</th>
		<th>
			Actions
		</th>
	</tr>
	[%- FOREACH acs IN access %]
	<tr class="showfocus">
		<td>
			[% acs.access | html %]
		</td>
		<td>
			<a class="action" href="[% c.uri_for( '/admin/users/access', acs.id, 'edit' ) %]">Edit</a>
		</td>
	</tr>
	[%- END %]
</table>
