[% IF c.user.has_role('CMS Page Editor') %]
<p style="text-align: right;">
	[ 
	[% IF page -%]
	<a href="[% c.uri_for( '/pages/' _ page.section.url_name _ '/' _ page.url_name _ '/edit' ) %]">Edit Page</a>
	| 
	[% END -%]
		<a href="[% c.uri_for( '/pages/list-pages' ) %]">Admin Area</a>
	]
</p>
[% END -%]

