[%-	meta.custom_wrapper = 'pages/cms-templates/wrapper1.tt';
	meta.title          = page.name;
	meta.menu_selected  = page.name;
%]

<h2>
	[% elements.heading1 %]
</h2>

<p>
	[% elements.paragraph1 %]
</p>

[% elements.html1 %]

<p>
	<img src="[% c.uri_for( '/static', upload_dir, 'images', elements.image1 ) %]" alt="" />
</p>

