[%-	meta.wrapper          = 'site-wrapper.tt';
	meta.title            = page.title;
	meta.menu_selected    = page.name;
	head.meta_description = page.description;
%]

<h2>
	[% elements.heading1 | html %]
</h2>

[% elements.paragraphs1 | html_para %]

[%# USE Markdown; elements.paragraphs1 | markdown %]

[% elements.html1 %]

<p>
	<img src="[% c.uri_for( '/static', upload_dir, 'images', elements.image1 ) %]" alt="">
</p>

