    <footer class="app-footer">
      <div class="ml-auto">
		ShinyCMS is <a href="http://www.opensource.org/">open source software</a>,
        &copy; 2009-2019 <a href="https://denny.me/">Denny de la Haye</a>. You can
		<a href="https://github.com/denny/ShinyCMS">download it from GitHub</a>.
      </div>
    </footer>
