    <script type="text/javascript" src="/static/coreui/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/coreui/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/static/coreui/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/coreui/node_modules/pace-progress/pace.min.js"></script>
    <script type="text/javascript" src="/static/coreui/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/static/coreui/node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
