<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>[% meta.title or 'File Manager' | html %] - [% meta.sitename or 'ShinyCMS' | html %]</title>
	<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/shinycms.css') %]">
</head>

<body>

[% content %]

</body>
</html>

